<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="background-color: red; color: white;">fhfghgfhello express222</div>
    <img src="/static/img/apple.jpg">
    <a href="/test">이동</a>
    <table border="1" >
        <tr>
            <td>
                이름
            </td>
            <td>
                성별
            </td>
        </tr>
        <% for(var i=0; i<per.length; i++) { %>
            <tr>
                <td>
                    <%=per[i]["name"]%>
                </td>
                <td>
                    <%=per[i]["gender"]%>
                </td>
            </tr>
        <% } %>
    </table>

    <% for(var i=0; i<5; i++) { %>
        <div>안녕하세요<%=i%></div>
    <% } %>

    <%-include("test1.ejs")%>
    <script>
    </script>
</body>
</html>