<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box, .box1 {
            height: 100px;
            width: 100px;
            overflow-y: auto;
            word-break: break-all;
            padding-right: 5px;
        }

        .box::-webkit-scrollbar {
            width: 5px;
        }

        .box::-webkit-scrollbar-track {
            border-radius: 4px;
            background-color: aqua;
        }

        .box::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background-color: rgb(0, 110, 110);
        }
    </style>
</head>
<body>
    <div class="box">
        dklfsjflsdjflsdl sdkfjsdklfjdslkfjsdlkfsdl
        dklfsjflsdjflsdl sdkfjsdklfjdslkfjsdlkfsdl
        dklfsjflsdjflsdl sdkfjsdklfjdslkfjsdlkfsdl
        dklfsjflsdjflsdl sdkfjsdklfjdslkfjsdlkfsdl
        dklfsjflsdjflsdl sdkfjsdklfjdslkfjsdlkfsdl
        dklfsjflsdjflsdl sdkfjsdklfjdslkfjsdlkfsdl
        dklfsjflsdjflsdl sdkfjsdklfjdslkfjsdlkfsdl
        dklfsjflsdjflsdl sdkfjsdklfjdslkfjsdlkfsdl
    </div>

    <div class="box1" style="margin-top: 100px;">
        dklfsjflsdjflsdl sdkfjsdklfjdslkfjsdlkfsdl
        dklfsjflsdjflsdl sdkfjsdklfjdslkfjsdlkfsdl
        dklfsjflsdjflsdl sdkfjsdklfjdslkfjsdlkfsdl
        dklfsjflsdjflsdl sdkfjsdklfjdslkfjsdlkfsdl
        dklfsjflsdjflsdl sdkfjsdklfjdslkfjsdlkfsdl
        dklfsjflsdjflsdl sdkfjsdklfjdslkfjsdlkfsdl
        dklfsjflsdjflsdl sdkfjsdklfjdslkfjsdlkfsdl
        dklfsjflsdjflsdl sdkfjsdklfjdslkfjsdlkfsdl
    </div>
</body>
</html>